<div class="hero-container">
  <!-- Background Video -->
  <div class="hero-bg">
    <video
      autoplay
      loop
      onloadedmetadata="this.muted=true"
      class="background-video"
      preload="auto"
    >
      <source src="/videos/AboutLandingVideo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Hero Content -->
  <mat-card class="hero-content">
    <h1>My Projects</h1>
    <!-- Updated Button -->
    <a href="https://github.com/vishnuGops" class="hero-btn">Visit my Github</a>
  </mat-card>
</div>
