.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #303030; /* Dark background color */
  }
  
  mat-card {
    width: 400px;
    text-align: center;
    background-color: #424242; /* Dark card background */
    color: white; /* Text color for better contrast */
  }
