.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #000000,
    #2c2c2c
  ); /* Gradient from black to light gray */
}
