<div class="info-container">
  <h1>Education</h1>
  <div class="experience-row">
    <div class="experience-content">
      <div class="navbar-logo">
        <img src="/images/UTA_Logo.png" alt="UTA Logo" class="logo" />
      </div>
      <h1>The University of Texas at Arlington</h1>
      <h2>Aug 2019 - May 2021</h2>
      <h3>Arlington, Texas</h3>
      <h4>Relevant Courses</h4>
      <ul>
        <li>Autonomous Robotics / HCI</li>
        <li>Computer Vision / AI</li>
        <li>Advanced Database Systems</li>
        <li>Web Data Management</li>
        <li>Data Analysis</li>
        <li>Design of Algorithms</li>
        <li>Advanced Cloud Computing</li>
      </ul>
    </div>
    <div class="experience-content">
      <div class="navbar-logo">
        <img src="/images/BIT_logo.png" alt="BIT Logo" class="logo" />
      </div>
      <h1>Bangalore Institute of Technology</h1>
      <h2>Jun 2015 - Jun 2019</h2>
      <h3>Bangalore, India</h3>
      <h4>Relevant Courses</h4>
      <ul>
        <li>Data Structures</li>
        <li>Operating Systems</li>
        <li>Machine Learning</li>
        <li>Computer Networks</li>
        <li>Computer Graphics</li>
        <li>Compilers</li>
        <li>Computer Architecture</li>
      </ul>
    </div>
  </div>

  <!-- New section for downloading resume -->
  <div class="resume-download">
    <button class="button-element big fontBig" (click)="downloadResume()">
      Download My Resume
    </button>
  </div>
</div>
