<div class="info-container">
  <h1>Education</h1>
  <div class="experience-row">
    <div class="experience-content" *ngFor="let edu of educationData">
      <div class="navbar-logo">
        <a [href]="edu.url" target="_blank" rel="noopener noreferrer">
          <img
            [src]="edu.logo"
            [alt]="edu.institution + ' Logo'"
            class="logo"
          />
        </a>
      </div>
      <h1>{{ edu.institution }}</h1>
      <h2>{{ edu.period }}</h2>
      <h3>{{ edu.location }}</h3>
      <h4>Relevant Courses</h4>
      <ul>
        <li *ngFor="let course of edu.courses">{{ course }}</li>
      </ul>
    </div>
  </div>
  <div class="resume-download">
    <button class="button-element big fontBig" (click)="downloadResume()">
      Download My Resume
    </button>
  </div>
</div>
