.info-container {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 90vw;

  h2 {
    font-size: 4rem;
    color: #01bf71; /* Green accent color */
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 2.2rem;
    color: #666;
    margin-bottom: 2rem;
  }
}

.photo-wall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
}

.photo-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 1.2s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
