<div class="hero-container mat-elevation-z4">
  <!-- Background Video -->
  <div class="hero-bg">
    <video
      autoplay
      onloadedmetadata="this.muted=true"
      loop
      class="background-video"
      preload="auto"
    >
      <source src="/videos/landingHero_Video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Hero Content -->
  <mat-card class="hero-content">
    <h1>Welcome to My World</h1>
    <p>I am Vishnu</p>
    <p>Senior Software Engineer</p>
    <!-- Updated Button -->
    <a href="/about" class="hero-btn"> More about me </a>
  </mat-card>
</div>
