/* General styling for the hero container */
.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling for the background video */
  .background-video {
    position:absolute;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.7;
    overflow-x: hidden;
  }
  
  /* Styling for the hero content */
  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero-content h1 {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .hero-content p {
    font-size: 3rem;
    margin: 1rem 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  .hero-content button {
    font-size: 2rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: #283593;
  }

  