.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  background: linear-gradient(
    to bottom,
    #001825,
    #000000
  ); /* Gradient from black to light gray */
  // width: 100%;
  height: 100vh;
  h1 {
    font-size: 5rem;
    color: #009557; /* Green accent color */
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      margin-top: 0rem;
      font-size: 4rem; /* Slightly smaller title on smaller screens */
    }
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Stack text and image columns vertically */
    text-align: center; /* Center-align text on smaller screens */
  }
}

.contact-row {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure all children have the same height */
  justify-content: center;
  border-radius: 2rem;
  width: 95%;

  @media (max-width: 1080px) {
    align-items: center; /* Center-align text on smaller screens */
  }
  @media (max-width: 768px) {
    flex-direction: column; /* Stack text and image columns vertically */
    align-items: center; /* Center-align text on smaller screens */
  }
}

a {
  text-decoration: none;
}

.contact-content {
  width: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 28, 28);
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02); /* Slight zoom-in effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .logo {
    font-size: 6rem;
    color: #009557;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 200;
    color: #009557;
    margin-bottom: 0.25rem; // Reduced margin below h1
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 1080px) {
    width: 6rem;
    h2 {
      font-size: 1.5rem; // Adjust font size for smaller screens
    }
    .logo {
      font-size: 4rem;
    }
  }

  @media (max-width: 768px) {
    width: 4rem;
    margin: 0.5rem;
    h2 {
      font-size: 0rem; // Further adjust font size for very small screens
    }
    .logo {
      font-size: 4rem;
    }
  }
}
