.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(
    to bottom,
    #696969,
    #000000
  ); /* Gradient from black to light gray */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 100vw;
  text-align: left;
  margin-top: 0.2rem;

  h1 {
    font-size: 5rem;
    color: #009557; /* Green accent color */
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 3rem; /* Slightly smaller title on smaller screens */
    }
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Stack text and image columns vertically */
    text-align: center; /* Center-align text on smaller screens */
    padding: 1rem;
    width: 100vw;
  }
}

.contact-row {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure all children have the same height */
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 2rem 2rem;
  text-align: left;

  @media (max-width: 768px) {
    flex-direction: column; /* Stack text and image columns vertically */
    align-items: center; /* Center-align text on smaller screens */
    padding: 1rem;
    width: 95vw;
  }
}

a {
  text-decoration: none;
}

.contact-content {
  width: 12rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.01); /* Slight zoom-in effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .logo {
    font-size: 10rem;
    color: #009557;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 200;
    color: #009557;
    margin-bottom: 0.25rem; // Reduced margin below h1
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem; // Adjust font size for smaller screens
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 1.2rem; // Further adjust font size for very small screens
    }
  }
}
