<div class="info-container">
  <h1>Experience</h1>
  <div class="experience-row" *ngFor="let row of experienceData">
    <div class="experience-content" *ngFor="let exp of row">
      <div class="navbar-logo">
        <a [href]="exp.url" target="_blank" rel="noopener noreferrer">
          <img [src]="exp.logo" [alt]="exp.company + ' Logo'" class="logo" />
        </a>
      </div>
      <h1>{{ exp.company }}</h1>
      <h2>{{ exp.position }}</h2>
      <h3>{{ exp.location }}</h3>
      <h4>{{ exp.period }}</h4>
      <ul>
        <li *ngFor="let responsibility of exp.responsibilities">
          {{ responsibility }}
        </li>
      </ul>
    </div>
  </div>
</div>
