// Global styles (apply to the whole app)
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  // You can define global variables too
  $primary-color: #3498db;
  $font-size: 16px;
  