.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #1e1e1e, #000000, #333333);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  text-align: left;

  h1 {
    font-size: 4.5rem;
    color: #01bf71;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 95vw;
  }
}

.experience-row {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  width: 95%;
  margin: 2rem 2rem;
  text-align: left;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 95vw;
  }
}

.experience-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .logo {
      height: 8rem;
      width: 100%;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  h1 {
    font-size: 3rem;
    color: #222;
    margin-bottom: 0.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  h2,
  h3,
  h4 {
    font-size: 1.5rem;
    color: #555;
    margin: 0;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  ul {
    margin-top: 1.5rem;
    padding: 0;
    list-style-type: circle;
    padding-left: 1.5rem;

    li {
      margin-bottom: 1rem;
      font-size: 2rem;
      color: black;
      line-height: 1;
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;

    h1 {
      font-size: 2.2rem;
    }
    h2,
    h3,
    h4 {
      font-size: 1.3rem;
    }

    ul li {
      font-size: 1.5rem;
    }
  }
}
