.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #333333, #000000);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  text-align: left;

  h1 {
    font-size: 4.5rem;
    color: #01bf71;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 100vw;
  }
}

.experience-row {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  width: 95%;
  margin: 2rem 2rem;
  text-align: left;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 95vw;
  }
}

.experience-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .logo {
      height: 12rem;
      width: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  h1 {
    font-size: 3rem;
    color: #222;
    margin-bottom: 0.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  h2,
  h3 {
    font-size: 1.5rem;
    color: #555;
    margin: 0;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  h4 {
    font-size: 2.5rem;
    color: #555;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    text-align: center;
  }

  ul {
    margin-top: 0;
    padding: 0;
    list-style-type: circle;
    padding-left: 1.5rem;

    li {
      margin-bottom: 1rem;
      font-size: 2rem;
      color: black;
      line-height: 0.6;
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    ul li {
      font-size: 1.4rem;
    }
  }
}

.resume-download {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button-element {
  border-radius: 50px;
  background: #01bf71;
  padding: 12px 30px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    background: #fff;
    color: #010606;
  }

  &.big {
    padding: 14px 48px;
    font-size: 20px;
  }

  &.fontBig {
    font-size: 2.2rem;
  }
}
