.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  background: transparent;
  height: 100vh;
  h1 {
    font-size: 5rem;
    color: #009557;

    @media (max-width: 768px) {
      margin-top: 0rem;
      font-size: 4rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
}

.contact-row {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  border-radius: 2rem;
  width: 95%;

  a {
    text-decoration: none;
  }

  @media (max-width: 1080px) {
    align-items: center;
  }
  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.contact-content {
  width: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 28, 28);
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .logo {
    font-size: 6rem;
    color: #009557;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 200;
    color: #009557;
    margin-bottom: 0.25rem;
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 1080px) {
    width: 6rem;
    h2 {
      font-size: 1.5rem;
    }
    .logo {
      font-size: 4rem;
    }
  }

  @media (max-width: 768px) {
    width: 4rem;
    margin: 0.5rem;
    h2 {
      font-size: 0rem;
    }
    .logo {
      font-size: 4rem;
    }
  }
}
