.custom-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(15, 18, 23, 1) 00%,
    rgba(15, 18, 23, 0.7) 40%,
    rgba(15, 18, 23, 0.3) 75%,
    transparent 100%
  );
  color: #ffffff;
  height: auto;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Jersey 10", serif;
  z-index: 10;
  box-sizing: border-box;

  .navbar-logo {
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
    }

    .logo {
      height: 3.3rem;
      width: 3.3rem;
      padding: 0.1rem;
      margin-left: 6rem;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  nav {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    flex-wrap: wrap;

    a {
      color: rgb(226, 226, 226);
      text-decoration: none;
      margin-left: 3rem;
      font-size: 2.2rem;
      font-weight: 500;
      font-family: "Jersey 10", serif;
      transition:
        color 0.3s ease,
        border-bottom 0.3s ease;
      text-shadow: black 2px 2px;
      cursor: pointer;

      &:hover {
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgb(201, 201, 201);
      }
    }
  }

  // Media queries
  @media (max-width: 768px) {
    padding: 0.5rem;

    .navbar-logo {
      .logo {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: 1rem;
      }
    }

    nav {
      margin-right: 1rem;

      a {
        font-size: 1.8rem;
        margin-left: 16px;
      }
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;

    .navbar-logo {
      width: 100%;
      justify-content: center;
      margin-bottom: 0.5rem;

      .logo {
        height: 2rem;
        width: 2rem;
        margin-left: 0;
      }
    }

    nav {
      width: 100%;
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      a {
        font-size: 1.5rem;
        margin: 0 12px;
      }
    }
  }
}
