.hero-container {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
  overflow: hidden;
  box-shadow: none;
}

.hero-content {
  position: relative;
  color: white;
  padding: 1rem;
  background: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90%;

  h1 {
    font-size: 7.5rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: #01bf71;
  }

  p {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }

  .hero-btn {
    border-radius: 50px;
    background: #01bf71;
    padding: 12px 30px;
    color: #fff;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
      background: #fff;
      color: #010606;
    }
  }
}

@media (max-width: 768px) {
  .hero-container {
    height: 40vh;
  }
  .hero-content {
    align-items: center;
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }

    .hero-btn {
      padding: 1rem 1rem;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 480px) {
  .hero-content {
    align-items: center;
    padding: 1rem;
    width: 100%;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }

    .hero-btn {
      width: 13rem;
      padding: 0.4rem;
    }
  }
}
