.custom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #121212;
  color: #e0e0e0;
  font-size: 2rem;
  height: 10rem;

  .footer-logo {
    display: flex;
    align-items: center;
    margin-left: 4rem;

    a {
      display: inline-flex; // Ensures the logo stays properly aligned as a clickable link
    }

    .logo {
      height: 100px;
    }
  }

  .footer-text {
    text-align: center;

    p {
      margin: 0;
      color: #e0e0e0;
    }
  }

  .footer-icons {
    display: flex;
    gap: 1.2rem;
    margin-right: 3rem;

    a {
      color: #e0e0e0;
      font-size: 2rem;
      transition: color 0.3s ease;

      &:hover {
        color: #90caf9;
      }
    }
  }
}
