<footer class="custom-footer">
  <div class="footer-logo">
    <a routerLink="/">
      <img src="/images/VG_logo.png" alt="Logo" class="logo" />
    </a>
  </div>
  <div class="footer-text">
    <p>© 2025 VG. All rights reserved.</p>
  </div>
  <div class="footer-icons">
    <a
      href="https://linkedin.com/in/vishnugops"
      target="_blank"
      rel="noopener"
      aria-label="LinkedIn"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/vishnuGops"
      target="_blank"
      rel="noopener"
      aria-label="Github"
    >
      <i class="fab fa-github"></i>
    </a>
    <!-- <a
      href="https://x.com/vishnu_gops"
      target="_blank"
      rel="noopener"
      aria-label="Twitter"
    >
      <i class="fab fa-twitter"></i>
    </a> -->
    <a
      href="https://instagram.com/vishnugops"
      target="_blank"
      rel="noopener"
      aria-label="Instagram"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://www.youtube.com/channel/UCqRp3VPHZ_sW4Rxkd2Rx51A"
      target="_blank"
      rel="noopener"
      aria-label="YouTube"
    >
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</footer>
