<div class="info-container">
  <h1>Experience</h1>
  <div class="experience-row">
    <div class="experience-content">
      <div class="navbar-logo">
        <img src="/images/cepheid-logo.svg" alt="Cepheid Logo" class="logo" />
      </div>
      <h1>Cepheid</h1>
      <h2>Senior Software Engineer</h2>
      <h3>Sunnyvale, CA</h3>
      <h4>Feb 2024 – Present</h4>
      <ul>
        <li>
          Actively part of a pivotal team focused on developing and innovating
          next-generation products, advancing cutting-edge technologies and
          solutions while enhancing UI frontend performance and unification by
          upgrading to Angular 17 and adhering to best practices.
        </li>
        <li>
          Spearheading the development of innovative software systems to
          significantly reduce detection times in molecular diagnostics,
          optimizing efficiency for a wide range of tests and improving user
          interface responsiveness.
        </li>
        <li>
          Gained deep expertise in computational pipelines and contributed
          extensively to new Cepheid software applications, driving improvements
          in calculation speed, accuracy, system performance, and overall
          frontend integration consistency.
        </li>
      </ul>
    </div>
    <div class="experience-content">
      <div class="navbar-logo">
        <img src="/images/cepheid-logo.svg" alt="Cepheid Logo" class="logo" />
      </div>
      <h1>Cepheid</h1>
      <h2>Software Engineer II</h2>
      <h3>Sunnyvale, CA</h3>
      <h4>Aug 2022 – Jan 2024</h4>
      <ul>
        <li>
          Contributing to the Product Lifecycle Management team (PLM) for the
          new G1S module for GeneXpert product software by delivering more
          efficient and less tightly coupled Firmware updates using GeneXpert
          product software.
        </li>
        <li>
          Successfully implemented timely software updates for GeneXpert Dx,
          Xpertise, XpertCheck, and Utility Tools, surpassing the best-case
          deadline.
        </li>
        <li>
          Served as the Technical Lead for the release of multiple versions of
          XpertCheck, a critical component generating approximately $60 million
          in revenue every quarter, ensuring timely delivery, quality assurance,
          and meeting key business objectives.
        </li>
        <li>
          Contributed to efficient system design by collaborating with
          cross-functional teams to identify key requirements and design
          solutions that met business needs while optimizing system performance.
        </li>
      </ul>
    </div>
  </div>

  <div class="experience-row">
    <div class="experience-content">
      <div class="navbar-logo">
        <img src="/images/cepheid-logo.svg" alt="Cepheid Logo" class="logo" />
      </div>
      <h1>Cepheid</h1>
      <h2>Software Engineer I</h2>
      <h3>Sunnyvale, CA</h3>
      <h4>July 2021 – Jul 2022</h4>
      <ul>
        <li>
          Worked on a team responsible for full-stack design, development, and
          debugging of GeneXpert Infinity product software using Core Java and
          SQL. Working towards enhancing and maintaining existing software with
          new features and increased performance.
        </li>
        <li>
          Responsible for full-stack design, development, and debugging of
          GeneXpert Infinity product software using Core Java and SQL. Working
          towards enhancing and maintaining existing software with new features
          and increased performance.
        </li>
        <li>
          Worked on Database migration using SQL on SSMS combined with JUnit
          test cases to ensure consistency in data after migration.
        </li>
        <li>
          Successfully completed Phase 1 of GeneXpert Infinity product software
          development following Agile Software Development Methodologies.
        </li>
      </ul>
    </div>
    <div class="experience-content">
      <div class="navbar-logo">
        <img
          style="width: 10rem; height: auto"
          src="/images/serotoninLabs_logo.png"
          alt="Serotonin Labs Logo"
          class="logo"
        />
      </div>
      <h1>Serotonin Labs</h1>
      <h2>Software Engineering Intern</h2>
      <h3>San Francisco, CA</h3>
      <h4>June 2020 – Aug 2020</h4>
      <ul>
        <li>
          Worked on Full stack development and Data Visualization of user
          dashboards related to Supplement consumption and activity measurement.
        </li>
        <li>
          Worked on ML Model to analyze resting heart rate of 100+ real time
          users every night in order to form a heart rate pattern.
        </li>
        <li>
          Model matches the pattern with pre-determined patterns in order to
          analyze the sleep cycle of the user and display this analysed result
          on the Web app interface for user to see.
        </li>
      </ul>
    </div>
  </div>
  <div class="experience-row">
    <div class="experience-content">
      <div class="navbar-logo">
        <img
          style="width: 12rem; height: auto"
          src="/images/TASL_logo.png"
          alt="TASL Logo"
          class="logo"
        />
      </div>
      <h1>Tata Advanced Systems Lmt</h1>
      <h2>Software Engineering Intern</h2>
      <h3>Bangalore, IN</h3>
      <h4>Jan 2019 – Mar 2019</h4>
      <ul>
        <li>
          Worked along with a team to complete the Autopilot System called AP
          Swarm
        </li>
        <li>
          Worked on developing code for the Communications and Calibrations of
          the Autopilot System using C++. Developed code to successfully send
          and retrieve required flight data from Drone using Embedded sensors
          and High-end SoC like Inertial Sense and Apalis Tk1.
        </li>
        <li>
          Collaborated with different teams using Agile Software practices to
          determine requirements and solutions in order to effectively build
          Auto Pilot AP Swarm
        </li>
      </ul>
    </div>
    <div class="experience-content">
      <div class="navbar-logo">
        <img
          style="
            padding-top: 3rem;
            padding-bottom: 2rem;
            width: 100%;
            max-width: 100%;
            height: auto;
          "
          src="/images/avianLogo.png"
          alt="Avian Aerospace Logo"
          class="logo"
        />
      </div>
      <h1>Avian Aerospace</h1>
      <h2>Software Engineering Intern</h2>
      <h3>Bangalore, IN</h3>
      <h4>Dec 2017 – Feb 2018</h4>
      <ul>
        <li>
          Research and building of a Quad-copter using 3D-Printer. Worked on
          projects using Open CV and Python. Developed a basic Mobile
          Application to control Robot car via Bluetooth.
        </li>
        <li>
          Developed multiple Computer Vision functionality and features for
          ground bot and drone using OpenCV and ROS.
        </li>
        <li>
          Various CV functions developed: Shape Detection, Pattern and Road Sign
          Detection, Face Detection, Line Follow,Drone controlled using remote
          controller, “Master and Slave Robotics using Ground bot and Drone”
          (Main Project)
        </li>
      </ul>
    </div>
  </div>
</div>
