.hero-container {
  background: #0c0c0c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensures it spans the entire width */
  height: 100%; /* Ensures it spans the entire height */

  video {
    object-fit: cover; /* Ensures the video covers the entire container */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: #232a34;
  }
}

.hero-content {
  z-index: 2;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  background: transparent; /* Semi-transparent overlay for better text readability */
  border-radius: 10px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 7.5rem;
    font-weight: 400;
    margin-bottom: 2rem; /* Reduced bottom margin */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  p {
    font-size: 4rem; /* Reduced the font size */
    font-weight: 200;
    margin-top: 0; /* Remove top margin */
    margin-bottom: 1rem; /* Reduced bottom margin */
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }

  .hero-btn {
    border-radius: 50px;
    background: #01bf71; /* Primary button color */
    padding: 12px 30px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none; /* No underline for Link component */

    &:hover {
      background: #fff; /* Button turns white on hover */
      color: #010606; /* Text color turns dark */
    }

    &.dark {
      background: #010606; /* Dark theme button */
      color: #fff;
    }

    &.big {
      padding: 14px 48px; /* Larger button size */
      font-size: 20px; /* Larger font size */
    }

    &.fontBig {
      font-size: 2.2rem; /* Larger font size */
    }
  }
}

// Media Queries for Responsiveness
@media (max-width: 768px) {
  .hero-bg {
    height: 50vh;
    video {
      height: 50vh;
    }
  }
  .hero-content {
    top: -300px;
    h1 {
      font-size: 4rem; /* Adjust heading size */
    }

    p {
      font-size: 1.5rem; /* Adjust paragraph font size */
    }

    .hero-btn {
      padding: 1rem 1rem;
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .hero-content {
    top: -280px; /* Adjust position even further for very small screens */
    padding: 1rem;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }

    .hero-btn {
      width: 50%; /* Make the button full width on small screens */
      padding: 0.4rem;
    }
  }
}
