@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

$scrollbar-color: rgb(33, 119, 109) transparent;
$scrollbar-width: thin;

html {
  // Allows the page to grow naturally
  height: auto;
  min-height: 100%;
  // overflow: hidden;
}

body {
  margin: 0;
  font-family: "Jersey 10", serif;
  background-color: black;
  color: white;
  overflow-x: hidden; // Keeps the site from wiggling sideways
  min-height: 100vh;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4) !important;
  border-radius: 10px !important;
}

/* Lenis Smooth Scroll */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
