@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

$scrollbar-color: rgb(33, 119, 109) transparent;
$scrollbar-width: thin;

// Theme styles
$primary-color: #3498db;
$font-size: 16px;

/* Ensure proper viewport scaling */
@viewport {
  width: device-width;
  zoom: 1;
}

html {
  scroll-behavior: smooth;
  // Allows the page to grow naturally
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Jersey 10", serif;
  background-color: black;
  color: white;
  overflow-x: hidden; // Keeps the site from wiggling sideways
  min-height: 100vh;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4) !important;
  border-radius: 10px !important;
}
